.anchor {
    display: none;
}

#page-header {
    display: none;
}

p {
   line-height: 1.3; 
}

:root {
    --background-color: #fff;
    --light-background-color: #d6d4f2;

    --highlight-color: #0c233f;
    --accent-color: #ffbb07;

    --foreground-color: #222;
}

#page-ctn {
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 900px;
    color: var(--foreground-color);
}

html, body, main {
    background-color: #fff;
    min-height: 100vh;
    margin: 0;
    font-weight: 400;
    font-family: 'Rubik', 'Ubuntu', 'Arial', sans-serif;
    color: #333;
}

.hljs {
    padding: 2em !important;
    background: var(--light-background-color) !important;
}

@media print {
    :root {
        background: #fff;
    }

    html, body, main {
        font-size: 90%;
        background: #fff;
    }

    .mermaid {
        transform: scale(0.9);
        font-size: 90%;
    }

    img {
        width: 70%;
        height: auto;
    }

    #page-ctn {
        padding: 0px 20px;
    }

    .page-break {
        page-break-after: always;
    }
}

hr {
    height: 1px;           
    border: none;          
    background-color: var(--highlight-color);
    margin: 40px 0px;       
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 3px;
    page-break-inside: avoid;
}

table tr:nth-child(even) {
    background-color: var(--light-background-color);
}

table tr:nth-child(odd) {
    background-color: #fff;
}

th {
    text-transform: uppercase;
    /* background-color: rgba(12, 35, 63, 0.7); */
    background-color: var(--highlight-color);
    color: var(--accent-color);
}

th, td {
    border: 2px solid var(--highlight-color);
}

th, td {
    padding: 5px;
}

a {
    color: var(--highlight-color);
}

.cluster rect {
    stroke-width: 2px !important;
}

.edge-thickness-normal {
    stroke-width: 2px !important;
}

.edge-thickness-thick {
    stroke-width: 4px !important;
}

.edge-pattern-dotted {
    stroke-dasharray: 5 !important;
}

.nodeLabel {
    font-family: 'Rubik', 'Ubuntu', sans-serif;
}

.crit0, .crit1, .crit2, .crit3, .crit4, .crit5, .crit6 {
    fill: #D48080 !important;
}

.done0, .done1, .done2, .done3, .done4, .done5, .done6 {
    fill: #8DB58D !important;
}

.exclude-range {
    fill: var(--light-background-color) !important;
}

.task {
    stroke: #222 !important;
}

.section:nth-child(odd) {
    /* fill: #C1D1DD !important; */
    fill: var(--light-background-color) !important;
}

.section {
    font-weight: 500;
    opacity: 0 !important;
}

.sectionTitle > tspan {
    font-weight: 500 !important;
}

.section:nth-child(even) {
    fill: #fff !important;
}

blockquote {
    background-color: var(--accent-color);
    color: var(--highlight-color);
    padding: 12px;
    border-radius: 7px;
    margin: 3em 9em;
    page-break-inside: avoid;
}

.info {
    background-color: var(--light-background-color);
    color: #fff;
}

.warn {
    background-color: var(--accent-color);
    color: var(--highlight-color);
}

.error {
    background-color: #ac0000;
    color: #fff;
}

pre {
    background-color: var(--light-background-color);
    padding: 10px;            
    border-radius: 7px;      
    overflow-x: auto;      
    font-family: 'Courier New', font-size: 14px;          
    margin: 2em 3em;
}

code {
    border-radius: 7px;     
    font-family: 'Courier New', font-size: 14px;          
}

blockquote p {
    padding: 0px 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--highlight-color);
    text-transform: uppercase;
    font-weight: 500;
}

img {
    border-radius: 7px;
    max-width: 100%;
}

.center-image {
    color: var(--highlight-color);
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto;
}

.side-by-side {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.side-by-side .center-image {
    margin: 0;
}

h1 {
    font-size: 1.4em;
    text-align: center;
    background: var(--highlight-color);
    color: var(--accent-color);
    padding: 1em;
    border-radius: 7px;
}

h2 {
    font-size: 1.3em;
    padding: 0.5em 0em;
    margin-top: 2.5em;
    border-bottom: 2px solid var(--highlight-color);
}

h3 {
    font-size: 1.2em;
    margin-top: 2em;
}

h4 {
    font-size: 1.1em;
    border-left: 2px solid var(--highlight-color); 
    padding-left: 0.5em;
    margin-top: 2em;
}

h5 {
    font-size: 1.1em;
    border-left: 6px double var(--highlight-color); 
    padding-left: 0.5em;
    margin-top: 2em;
}

h6 {
    font-size: 1em;
}

li {
    margin: 0.7em;
    line-height: 1.3;
}
